<html>
	<head>
		<title>TEST</title>
		<link href="/css/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="/js/jquery/jquery-1.11.0.min.js" ></script>
		<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js" ></script>
		<script type="text/javascript" src="/js/index.js" ></script>
	</head>
	<body>
		<div id="searchDiv">
			<input type="text" id="searchValue"/><input type="button" value="검색" id="search"/><input type="button" value="추가" id="add"/>
		</div>
		<div id="saveDiv" style="display:none;">
			<table>
				<tr>
					<td>
					아이디
					</td>
					<td>
					<input type="text" id="id"/>
					</td>
				</tr>
				<tr>
					<td>
					덱
					</td>
					<td>
					<input type="text" id="deck"/>
					</td>
				</tr>
			</table>
			<input type="button" value="저장" id="save"/>
			<input type="button" value="닫기" id="close"/>
		</div>
		<div id="searchResultDiv">
		</div>
	</body>
</html>